# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s = 'hello'

# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [18]:
s ='hello'

# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [19]:
s ='hello'

# Print out the 'o'

# Method 1:

s[4]

'o'

In [20]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [23]:
# Method 1:

x=[0,0,0]

type(x)

list

In [156]:
# Method 2:

x=[]

# using Method append to build the list

x.append(0)
x.append(0)
x.append(0)

# result

x

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [107]:
list3 = [1,2,[3,4,'hello']]

# using Method remove to cut the word 'hello' 

list3[2].remove('hello')
 
# checking that 'hello' is removed

list3

# using Method insert to enter the word 'goodbye'

list3[2].insert(2,'goodbye')

# result

list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [110]:
list4 = [5,3,4,6,1]

# sorting list4

list4=set(list4)

# result

list4

{1, 3, 4, 5, 6}

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [115]:
d = {'simple_key':'hello'}

# Grab 'hello'

d['simple_key'][:]

'hello'

In [118]:
d = {'k1':{'k2':'hello'}}

# Grab 'hello'

d['k1']['k2'][:]

'hello'

In [143]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [142]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Grab hello

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [134]:
# Inserting Variables

planet = "Earth"

diameter = 12742

# printing the string with the function format

print('The diameter of {} is {} kilometers'.format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [139]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

# using indexing to get the word 'hello'

lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". **

In [150]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

# using indexing to grab the word 'hello'

d['k1'][3]['tricky'][3]['target'][3]

'hello'

### Write a Python program to swap two variables.

In [155]:
# inserting the variables 

x = 2 
y = 4

# storing the value of x

temp = x

# swaping the value of x

x = y

# assigning the value of temp to y

y = temp

print('The value of x after swaping is',x)

print('The value of y after swaping is' , y)

The value of x after swaping is 4
The value of y after swaping is 2

## Thanks